# 1.Manipulate using a list

In [ ]:
#1. To add new elemenets to the end of the list

In [3]:
lst=["python",123,"ml",6.12,'ai']
lst.append("Mphasis_learning")
lst

['python', 123, 'ml', 6.12, 'ai', 'Mphasis_learning']

In [ ]:
#2.To reverse the elements in the list

In [4]:
lst.reverse()
lst

['Mphasis_learning', 'ai', 6.12, 'ml', 123, 'python']

In [ ]:
#3.To display  the same list of elements multiple times

In [5]:
timesToDisplay=int(input("Enter the number of times to display the element"))
for _ in range(timesToDisplay):
    print(lst)

Enter the number of times to display the element4
['Mphasis_learning', 'ai', 6.12, 'ml', 123, 'python']
['Mphasis_learning', 'ai', 6.12, 'ml', 123, 'python']
['Mphasis_learning', 'ai', 6.12, 'ml', 123, 'python']
['Mphasis_learning', 'ai', 6.12, 'ml', 123, 'python']

In [ ]:
#4. To concatenate the two list

In [6]:
list1=[1,2,3,4]
list2=[7,8,9,0]
list1.extend(list2)
list1

[1, 2, 3, 4, 7, 8, 9, 0]

In [ ]:
#5. To sort the elements in the list in ascending order

In [7]:
list3=[5,6,1,3,100,54,33]
list3.sort()
list3

[1, 3, 5, 6, 33, 54, 100]

# 2. Python Program to do in the tuples

In [ ]:
# 2. To add new elements to the end of the tuple

In [ ]:
Tuples in python are immutable which means you can add the elements directly.

In [ ]:
# 3. To reverse the elements in tuple

In [8]:
tuple1=(76,84,12,34,90)
print(tuple1[::-1])

(90, 34, 12, 84, 76)

In [ ]:
#4.  To display  the elements of same tuple multiple times

In [9]:
timesToDisplay=int(input("Enter the number of times to display the element"))
for _ in range(timesToDisplay):
    print(tuple1)

Enter the number of times to display the element4
(76, 84, 12, 34, 90)
(76, 84, 12, 34, 90)
(76, 84, 12, 34, 90)
(76, 84, 12, 34, 90)

In [ ]:
#5. To concatenate two tuples

In [10]:
tuple2=(99,66,55)
concatenated_tuple=tuple1+tuple2
print(concatenated_tuple)

(76, 84, 12, 34, 90, 99, 66, 55)

In [ ]:
#6. To sort the elements of the tuple in ascending order

In [ ]:
We cant directly sort the tuple we should change into list sort it and again change to tuple

In [12]:
sorted_list = sorted(concatenated_tuple)
sorted_tuple = tuple(sorted_list)
print(sorted_tuple)

(12, 34, 55, 66, 76, 84, 90, 99)

# 3.Program to implement the following

In [16]:
list4=[23,54,65,3,4,7,80,67,12,32]

In [17]:
a=len(list4)-1
print(list4[a])

32

In [ ]:
#Command for displaying the values from the list[0:4]

In [18]:
print(list4[0:4])

[23, 54, 65, 3]

In [ ]:
#Command for displaying the values from the list[2:]

In [19]:
print(list4[2:])

[65, 3, 4, 7, 80, 67, 12, 32]

In [ ]:
#Command for displaying the values from the list[:6]

In [21]:
print(list4[:6])

[23, 54, 65, 3, 4, 7]

# 4.Write a Python Program for tuple1=(10,50,20,40,30)

In [23]:
tuple_1=(10,50,20,40,30)

In [ ]:
#1. To display the elements 10 and 50 from tuple_1

In [25]:
print(tuple_1[0:2])

(10, 50)

In [ ]:
#2. To display the length of a tuple_1

In [26]:
print(len(tuple_1))

5

In [ ]:
#3. To find the minimum element from tuple in python

In [27]:
minimum_element=min(tuple_1)
print(minimum_element)

10

In [ ]:
#4. To add all elements in the tuple_1

In [28]:
total = 0
for element in tuple_1:
    total += element

print(total)

150

In [ ]:
#5. To display the same tuple_1 multiple times

In [29]:
times_to_display=int(input("Enter the times to display"))

for _ in range(times_to_display):
    print(tuple_1)

Enter the times to display4
(10, 50, 20, 40, 30)
(10, 50, 20, 40, 30)
(10, 50, 20, 40, 30)
(10, 50, 20, 40, 30)

# 5. Write a Python Program

In [ ]:
# To calculate the length of a string

In [30]:
str="Rajaganesh"
print(len(str))

10

In [ ]:
#To reverse words in a string

In [32]:
string="Hello I am Raja!"
word=string.split(" ")
reverseword=word[::-1]
reverseString=' '.join(reverseword)
print(reverseString)

Raja! am I Hello

In [ ]:
# To display the same string multiple times

In [34]:
noOfTime=int(input("Enter how many no of times should string display"))
for _ in range(noOfTime):
    print(string)

Enter how many no of times should string display4
Hello I am Raja!
Hello I am Raja!
Hello I am Raja!
Hello I am Raja!

In [ ]:
# To concatenate two string

In [37]:
print(str+" "+string)

Rajaganesh Hello I am Raja!

In [ ]:
#Str1="South India", using string slicing to slice "India"

In [38]:
Str1="South India"
print(Str1[6:])

India

# 6. Perform the Following

In [ ]:
#1. Creating the Dictionary

In [39]:
dict = {
    'name': 'Raja',
    'age': 22,
    'city': 'Virudhunagar'
}

In [ ]:
#2. Access the values and keys in the dictionary

In [41]:
print(dict['name'])
print(dict['age'])
print(dict['city'])

Raja
22
Virudhunagar

In [42]:
for key in dict.keys():
    print(key)

name
age
city

In [ ]:
#Updating the dictionary using a python

In [44]:
def updateName(newName):
    dict['name']=newName
updateName("Ganesh")
print(dict['name'])

Ganesh

In [ ]:
#clear and delete Dictionary values

In [45]:
dict.clear()
dict

{}

In [51]:
dict2={
    "name":"Ranjith",
    "age":22
}
del dict2

# # 7.To insert a number to any position in a list

In [1]:
myList=[1,4,5,6,3,5]
position=int(input("Enter the index where we have to insert"))
newno=int(input("Enter the number you want to insert in the index"))
myList.insert(position, newno)
myList

Enter the index where we have to insert2
Enter the number you want to insert in the index7

[1, 4, 7, 5, 6, 3, 5]

# 8.To delete an element from a list by index

In [2]:
index=int(input("Enter the index you want to delete from the list"))
myList.pop(index)
myList

Enter the index you want to delete from the list2

[1, 4, 5, 6, 3, 5]

# 9.Write a program to display number from 1 to 100

In [3]:
for i in range(1,101):
    print(i, end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

# 10. To find sum of all items in a tuple

In [4]:
myTuple=(1,2,3,4,5,6,7,8,9,10)
sum=0
for item in myTuple:
    sum+=item
print("The sum of the items in tuple is ",sum)

The sum of the items in tuple is  55

# 11. Create a Dictionary containing three lambda functions square,cube and cuberoot

In [2]:
functions_dict = {
    'Square': lambda x: x ** 2,
    'Cube': lambda x: x ** 3,
    'CubeRoot': lambda x: x ** (1/3)
}

number = 5

square_result = functions_dict['Square'](number)
cube_result = functions_dict['Cube'](number)
cuberoot_result= functions_dict['CubeRoot'](number)

print(f"Square of {number}: {square_result}")
print(f"Cube of {number}: {cube_result}")
print(f"Cube root of {number}: {cuberoot_result}")
sum=square_result+cube_result+cuberoot_result
print("The  sum of output of the three functions is",sum)

Square of 5: 25
Cube of 5: 125
Cube root of 5: 1.7099759466766968
The  sum of output of the three functions is 151.7099759466767

In [ ]:
1. E.g.=dict={'Square': function for squaring,'Cube':function for cube,'Squareroot': function for square root}

# 12. Find the words from the list that  have their second character in Upper Case

In [ ]:
ls=['hello','Dear','hOw','ARe','You']
for word in ls:
    if word[1].isupper():
        print(word)

# 13. A dictionary of names and their weights on earth is given. Find how much they will weigh on the moon.(Use map and lambda functions)
Formula: wMoon=(wEarth*GMoon)/GEarth
    
    # Weight of people in kg
    WeightOnEarth={'John':45,'Shelly':65,'Marry':35}
# Gravitational force on the Moon: 1.622 m/s2
    GMoon =1.622
# Gravitational force on the earth: 9.81 m/s2
    GEarth=9.81

In [7]:
wEarth = {'John': 45, 'Shelly': 65, 'Marry': 35}
GMoon = 1.622
GEarth = 9.81
wMoon = list(map(lambda name, weight: (weight * GMoon) / GEarth, wEarth.keys(), wEarth.values()))
print("Weights on the Moon:")
for weight in wMoon:
    print(f"{weight:.2f} kg")

[7.440366972477065, 10.747196738022426, 5.786952089704383]
Weights on the Moon:
7.44 kg
10.75 kg
5.79 kg

# Control Structures

# 1. Write a python program to find the first N Prime Numbers

In [8]:
def prime(n):
    listN=[]
    for num in range(2,100):
        flag = False
        if num == 1:
            continue
        elif num > 1:
            for i in range(2, num):
                if (num % i) == 0:
                    flag = True
                    break

            if flag==False:
                listN.append(num)
                n=n-1

            
    return listN
n=int(input("Enter the no of prime of numbers in a list"))
list1=prime(n)
for i in range(n):
    print(list1[i],end=' ')

Enter the value of N: 5

# 2. Python program to calculate the salary of an employee

In [9]:
a=int(input("Enter the Basic salary of an employee"))
b=int(input("Enter the HRA of an employee"))
c=int(input("Enter the TA of an employee"))
d=int(input("Enter the DA of an employee"))
gross_salary=a+b+c+d
tax=0.1*gross_salary
print("The net salary is", gross_salary-tax)

Enter the Basic salary of an employee10000
Enter the HRA of an employee1000
Enter the TA of an employee500
Enter the DA of an employee500
The net salary is 10800.0

# 3. Write a python program to search for a string in the given list

In [11]:
my_list = ["raja", "ganesh", "janani", "sara", "denis"]
search=input("Enter the string you want to search-")
counter=False
for word in my_list:
    if word==search:
        counter=True
if(counter==True):
    print("String Found")
else:
    print("String Not Found")

Enter the string you want to searchhanr
String Not Found

# 4.Write a python function that accepts a string and calculate the number of upper and lower case letters

In [14]:
string_input=input("Enter the string to calculate")
alpha=0
low=0
for char in string_input:
    if char.isupper():
        alpha=alpha+1
    elif char.islower():
        low=low+1
print("The Upper case is",alpha)
print("The Lower case is",low)

Enter the string to calculateRAja Ganesh
The Upper case is 3
The Lower case is 7

# 5. Write a program to display the odd numbers and even numbers that fall between 12 and 37

In [15]:
lst1=[]
lst2=[]
for i in range(12,38):
    if i%2==0:
        lst1.append(i)
    else:
        lst2.append(i)
print("The odd numbers are ",lst1)
print("The even numbers are ",lst2)

The odd numbers are  [12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36]
The even numbers are  [13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37]

# 6. Write a python program to print the table of any number

In [17]:
a=int(input("Enter the number"))
for i in range(1,11):
    print(i*a)

Enter the number4
4
8
12
16
20
24
28
32
36
40

# 7. Write a python program to sum the first 10 prime numbers

In [26]:
prime_numbers = []
num = 2

while len(prime_numbers) < 10:
    if num > 1:
        is_prime = True
        for i in range(2, int(num**0.5) + 1):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            prime_numbers.append(num)
    num += 1
sum=0
for no in prime_numbers:
    sum=sum+no
print("The sum of the first 10 prime nos:", sum)

The sum of the first 10 prime nos: 129

# 8. Write a python program  to implement arithmetic operations using Nested if

In [37]:
no1 = float(input("Enter the first number: "))
no2 = float(input("Enter the second number: "))
operation = input("Enter the operation +, -, *, /: ")
if operation == '+':
    result = no1 + no2
elif operation == '-':
    result = no1 - no2
elif operation == '*':
    result = no1 * no2
elif operation == '/':
    result = no1 / no2
else:
    print("Invalid operation entered.")
print(f"The output is {no1} {operation} {no2} = {result}")

Enter the first number: 45
Enter the second number: 12
Enter the operation +, -, *, /: -
The output is 45.0 - 12.0 = 33.0

# 9. Python program to take the temperature in celcius and convert to Fahrenheit

In [32]:
celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32
print("The faherenheit of celcius {celsius} is ",fahrenheit)

Enter temperature in Celsius: 100
The faherenheit of celcius {celsius} is  212.0

# 10. To find minimum and maximum numnber in list without using inbuilt function

In [38]:
list_maxmin=[56,34,12,890,67]
minnum= list_maxmin[0] 
maxnum = list_maxmin[0] 
for num in list_maxmin:
    if num < minnum:
        minnum = num
    if num > maxnum:
        maxnum = num
print(f"The minimum number is {minnum}\nThe maximum number is {maxnum}")

The minimum number is 12
The maximum number is 890

# 11. python program to print out the number of seconds in 30-day month 30 days, 24hours in a day, 60minutes per day, 60 seconds in a minute

In [40]:
seconds_per_minute = 60
seconds_per_hour = 60 * seconds_per_minute
seconds_per_day = 24 * seconds_per_hour
days_in_month = 30
seconds_in_month = days_in_month * seconds_per_day
print("Number of seconds in a year:", seconds_in_month)

Number of seconds in a year: 2592000

# 12. python program to print the no of seconds in year

In [39]:
seconds_per_minute = 60
seconds_per_hour = 60 * seconds_per_minute
seconds_per_day = 24 * seconds_per_hour
days_in_year = 365
seconds_in_year = days_in_year * seconds_per_day
print("Number of seconds in a year:", seconds_in_year)

Number of seconds in a year: 31536000

# 13. A high-speed train can travel at an average speed of 150mph, how long will it take a train travelling at his speed to travel from london to glasgow which is 414 miles away

In [41]:
distance = 414
speed = 150
time_hours = distance / speed
print(f"It will take {time_hours} hours to travel")

It will take 2.76 hours to travel

# 14. Write a python program that defines a variable called days_in_each_school_year and assign 192 to the variable. The program should then print out the total hours that you spend in school from year 7 to 11, if each day you spent 6 hours in school days_in_each_school_year=192

In [49]:
days_in_each_school_year = 192
startYear = 7
endYear = 11
hours_per_day = 6
total_hours = (endYear - startYear + 1) * days_in_each_school_year * hours_per_day
print(f"Total hours spent in school is {total_hours} hours")

Total hours spent in school is 5760 hours

In [ ]:
#15. If the age of Ram, Sam and Khan are input through the keyboard, write a python program to determine the eldest and youngest of the three

In [51]:
ram_age = int(input("Enter Ram's age: "))
sam_age = int(input("Enter Sam's age: "))
khan_age = int(input("Enter Khan's age: "))
myList=[]
myList.append(ram_age)
myList.append(sam_age)
myList.append(khan_age)
myList.sort()
myList
if myList[0]==ram_age:
    print("The Youngest is Ram")
elif myList[0]==sam_age:
    print("The Youngest is Sam")
else:
    print("The Youngest is Khan")
if myList[2]==ram_age:
    print("The Eldest is Ram")
elif myList[2]==sam_age:
    print("The Eldest is Sam")
else:
    print("The Eldest is Khan")

Enter Ram's age: 45
Enter Sam's age: 55
Enter Khan's age: 12
The Youngest is Khan
The Eldest is Sam

# 16. Write a python program to rotate a list by right n times and without slicing

In [42]:
my_list = [1, 2, 3, 4, 5]
n=int(input("Enter the number of times you want to rotate"))
n = n % len(my_list)
for _ in range(n):
    last_element = my_list.pop()
    my_list.insert(0, last_element)
print("Rotated list:", my_list)

Enter the number of times you want to rotate3
Rotated list: [3, 4, 5, 1, 2]

# 17. Python programs to generate patterns

In [43]:
num_rows=7
for i in range(num_rows):
    current = 1
    for j in range(i + 1):
        print(current, end=" ")
        current = current * (i - j) // (j + 1)
    print()

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [45]:
num_rows=5
for i in range(5):
    for _ in range(i+1): 
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [46]:
num_rows=7
for i in range(num_rows):
    for j in range(num_rows-i-1):
        print(" ",end='')
    for k in range(2 * i + 1):
        print("*", end="")
    print()

      *
     ***
    *****
   *******
  *********
 ***********
*************

In [48]:
name = "python"
for i in range(1,len(name)+1):
    print(name[:i])

p
py
pyt
pyth
pytho
python